[core]
	excludesfile = /Users/fabienfouassier/.gitignore_global
[user]
	name = Fabien Fouassier
	email = fab.fouassier@gmail.com
[pull]
	rebase = true
[credential]
	helper = osxkeychain
[fetch]
	prune = true
[push]
	autoSetupRemote = true
[include]
	path = ~/.gitconfig.local
